USE [DATABASEPIA2017]
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALES]') AND type in (N'U'))
DROP TABLE [dbo].[SALES]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRIES]') AND type in (N'U'))
DROP TABLE [dbo].[COUNTRIES]
GO
/****** Object:  Table [dbo].[COSTS]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COSTS]') AND type in (N'U'))
DROP TABLE [dbo].[COSTS]
GO
/****** Object:  Table [dbo].[CHANNELS]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHANNELS]') AND type in (N'U'))
DROP TABLE [dbo].[CHANNELS]
GO
USE [master]
GO
/****** Object:  Database [DATABASEPIA2017]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'DATABASEPIA2017')
DROP DATABASE [DATABASEPIA2017]
GO
/****** Object:  Database [DATABASEPIA2017]    Script Date: 18/09/2017 09:32:40 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'DATABASEPIA2017')
BEGIN
CREATE DATABASE [DATABASEPIA2017]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATABASEPIA2017', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATABASEPIA2017.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DATABASEPIA2017_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DATABASEPIA2017_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASEPIA2017].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASEPIA2017]
GO
/****** Object:  Table [dbo].[CHANNELS]    Script Date: 18/09/2017 09:32:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHANNELS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CHANNELS](
	[channel_id] [numeric](18, 0) NULL,
	[channel_desc] [numeric](18, 0) NULL,
	[channel_class] [numeric](18, 0) NULL,
	[channel_class_id] [numeric](18, 0) NULL,
	[channel_total] [numeric](18, 0) NULL,
	[channel_total_id] [numeric](18, 0) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[COSTS]    Script Date: 18/09/2017 09:32:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COSTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COSTS](
	[prod_id] [numeric](18, 0) NOT NULL,
	[time_id] [timestamp] NOT NULL,
	[promoid] [numeric](18, 0) NOT NULL,
	[channel_id] [numeric](18, 0) NOT NULL,
	[unit_cost] [numeric](18, 0) NOT NULL,
	[unit_price] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 18/09/2017 09:32:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COUNTRIES](
	[contry_id] [numeric](18, 0) NOT NULL,
	[country_iso_code] [numeric](18, 0) NOT NULL,
	[country_name] [nchar](30) NOT NULL,
	[country_subregion] [nchar](30) NOT NULL,
	[country_subregion_id] [numeric](18, 0) NOT NULL,
	[country_region] [nchar](30) NULL,
	[country_region_id] [numeric](18, 0) NULL,
	[country_total] [numeric](18, 0) NULL,
	[country_total_id] [numeric](18, 0) NULL,
	[country_name_hist] [nchar](30) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SALES]    Script Date: 18/09/2017 09:32:40 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SALES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SALES](
	[prod_id] [numeric](18, 0) NOT NULL,
	[cust_id] [numeric](18, 0) NOT NULL,
	[time_id] [numeric](18, 0) NOT NULL,
	[channel_id] [numeric](18, 0) NOT NULL,
	[promo_id] [numeric](18, 0) NOT NULL,
	[quantity_sold] [numeric](18, 0) NOT NULL,
	[amount_sold] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
END
GO
USE [master]
GO
