USE [master]
GO
/****** Object:  Database [practiquemos2]    Script Date: 04/09/2017 09:30:32 p.m. ******/
CREATE DATABASE [practiquemos2]
 CONTAINMENT = NONE
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practiquemos2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practiquemos2]
GO
/****** Object:  User [Mate_13-PC\Mate_13]    Script Date: 04/09/2017 09:30:32 p.m. ******/
CREATE USER [Mate_13-PC\Mate_13] FOR LOGIN [Mate_13-PC\Mate_13] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Alumno] [varchar](50) NOT NULL,
	[matricula] [numeric](18, 0) NOT NULL,
	[materia] [varchar](300) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Establo]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establo](
	[caballos] [numeric](18, 0) NULL,
	[ponys] [numeric](18, 0) NULL,
	[burros] [numeric](18, 0) NULL,
	[unicornios] [numeric](18, 0) NULL,
	[dragones] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[estantes]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estantes](
	[estante A] [bit] NULL,
	[Estante B] [bit] NULL,
	[Estante c] [bit] NULL,
	[estante D] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hamburguesa]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hamburguesa](
	[tomate] [numeric](18, 0) NULL,
	[lechuga] [numeric](18, 0) NULL,
	[carne] [numeric](18, 0) NULL,
	[pan] [numeric](18, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ingredientes]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredientes](
	[tomate] [nchar](10) NULL,
	[lechuga] [nchar](10) NULL,
	[aguacate] [nchar](10) NULL,
	[panes] [nchar](10) NULL,
	[carnes] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_1](
	[nombre] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trabajadores]    Script Date: 04/09/2017 09:30:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trabajadores](
	[trabajador] [varchar](50) NULL,
	[usuario] [varchar](50) NULL,
	[contraseña] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
